body {
   background-image:url("Imagens/Social.jpg");     
   margin: 50px 150px auto 50px;
}

header{height: 100px;}
header h1{ font-family:Impacta, "arial", verdana,"Century Schoolbook L", "Times New Roman", "serif"; text-align: center;}

section {margin: auto 500px 100px 500px; }


.cadastro{font-family:Impacta, "arial", verdana,"Century Schoolbook L", "Times New Roman", "serif"; font-size: 18px; margin-bottom: 10px; }

fieldset {width: 500px;background:#CCC; opacity: 0.9;}

p{float:left;font-family:Impacta, "arial", verdana,"Century Schoolbook L", "Times New Roman", "serif"; font-size: 18px;}

legend { font-family:Impacta, "arial", verdana,"Century Schoolbook L", "Times New Roman", "serif"; font-size: 20px; }

img{float:left; width:120px; height: 150px; padding-left: 10px; padding-right: 10px;}

h3{float: right;font-family:Impacta, "arial", verdana,"Century Schoolbook L", "Times New Roman", "serif"; }

footer{ text-align: center;}
    