.center1{
    border: 10px solid #2F3233; width: 550px; margin: 0 auto;padding: 10px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  
}
.titulo{color:#f54325;text-align: center;}
.servicos{border: 2px solid #fff;}
.servicos .brinq{margin-left: 18px;width: 100px;}
.servicos .valor{margin-left: 15px;}
.servicos span{font-size: 18px;}
.boxe{border: 2px solid #fff;width: 250px;border:1px solid #fff;margin-left: 10px;}
.boxe .ck1{margin: 10px 21px 20px 20px;}
.boxe .ck2{margin-bottom: 20px;margin-left: 21px;margin-right: 20px;}
.boxe .ck3{margin-bottom: 10px;margin-left: 21px;margin-right: 20px;}
.boxe2{border: 2px solid #fff;width: 250px;float: right;}
.boxe2 input{width: 180px;margin: 3px;margin-left: 20px;padding: 3px;}

.dadosEnd{border: 2px solid #fff;}
.dadosEnd h3{margin-left: 25px;}
.endereco{border: 2px solid #fff;width: 250px; }
.endereco input{margin-left: 20px;margin-bottom: 5px;padding: 4px;width: 200px;}
.endereco1{border: 2px solid #fff;width: 230px; float: right;}
.endereco1 input{margin-bottom: 5px;padding: 4px;}
.endereco1 .num{width: 179px;}

.local{border: 2px solid #fff;}
.local h3{margin-left: 25px;}
.local .valor{width: 180px;float: right; margin-right: 50px;}
.local input{width: 200px; padding: 4px;margin-left: 20px;margin-bottom: 5px;}
.local textarea{margin-left: 20px;}

form input[type="submit"] { 
margin-left: 22px;margin-bottom: 20px; width:130px; background:#2F3233; font-size:14px; color:#FFF; padding:5px; border-bottom:3px solid #CCC; border-radius:4px; font-family: "arial", "verdana", "sans-serif"; text-indent:2px;  cursor:pointer;
}
form input[type="submit"]:hover {
  background:#101010; color:#f7f7f7;
}
